{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-console": "off",
    "no-unused-expressions": [ "error", { "allowShortCircuit": true }]
  }
}